// Here you can add other styles
.c-sidebar {
    color: #fff;
    background: #1b4567;
}
.form-control {
    background-color: transparent;
    border: 1px solid #E3E3E3;
    border-radius: 30px;
    color: #2c2c2c;
    height: auto;
    line-height: normal;
    font-size: 0.8571em;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out !important;
    box-shadow: none;
}
.card-header:first-child {
    background-color: #1b4567;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    font-size: 1.09375rem;
}
.btn-link {
    font-weight: 400;
    color: white;
    text-decoration: none;
}

.c-main > .container-fluid, .c-main > .container-sm, .c-main > .container-md, .c-main > .container-lg, .c-main > .container-xl, .c-main > .container-xxl {
    padding-right: 15px;
    padding-left: 15px;
}
.c-main {
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 1;
    min-width: 0;
    padding-top: 1rem;
}
.pr-md-3, .px-md-3 {
    padding-right: 54rem !important;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    border-radius: 25px !important;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    margin-bottom: 1.5rem;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid;
    border-radius: 0.25rem;
    background-color: #fff;
    border-color: #d8dbe0;
    border-radius: 25px;
}
.c-subheader-nav {
    display: flex !important;
}
.pr-md-3, .px-md-3 {
    padding-right: 78% !important;
}
.c-sidebar .c-sidebar-brand {
    color: #fff;
    background: rgba(0, 0, 21, 0.2);
    align-self: baseline;
}
.c-sidebar {
    position: relative;
    display: flex;
    flex: 0 0 256px;
    flex-direction: column;
    order: -1;
    width: 220px;
    padding: 0;
    box-shadow: none;
}
.c-sidebar.c-sidebar-lg-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-wrapper, html:not([dir="rtl"]) .c-sidebar.c-sidebar-show:not(.c-sidebar-right).c-sidebar-fixed ~ .c-wrapper {
    margin-left: 220px !important;
}
.page-link {
    margin-left: 5px !important;
    border-radius: 20px !important;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    color: white;
}